{% extends 'base/base.html' %}

{% block title %}Registro | Compromisos{% endblock title %}

{% block titlePage %}Crear Compromiso{% endblock titlePage %}
    
{% block page_content %}

    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-error">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    <strong>Error!</strong>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}    
    <ul>
        {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
    </ul>
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}

        <input type="submit" value="Crear Reunión">
    </form>
    
{% endblock page_content %}